:root {
	--primary-color: #52200a;
	--secondary-color: #c26e3e;
	--accent-color: #66b454;
	--headings-color: #af2525;
	--body-color: #644242;
	--body-dark-color: #3d2929;
	--border-color: #bbb;
	--border-radius: 2rem;
	--transition-btn: 0.3s;
}

*, 
*::after, 
*::before {
	box-sizing: border-box;
}

html {
	font-size: 100%;
}

body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 1.5rem;
	line-height: 1.5;
	color: var(--body-color);
}

h1,
h2,
h3 {
	color: var(--headings-color);
	margin-bottom: 1rem;
	line-height: 1.1;
}

h1 {
	font-size: 4.5rem;
}

h2 {
	font-size: 2.75rem;
}

h3 {
	font-size: 1.9rem;
}

p {
	margin-top: 0;
}

@media screen and (min-width: 1024px) {
	body {
		font-size: 1.1rem;
	}

	h1 {
		font-size: 5rem;
	}

	h2 {
		font-size: 2.5rem;
	}

	h3 {
		font-size: 1.5rem;
	}
}

a {
	text-decoration: none;
}

.link-learn-more {
	color: var(--accent-color);
	text-transform: uppercase;
	font-size: 1.25rem;
	font-weight: bold;
}

.link-learn-more::after {
	content: ">";
	margin-left: 5px;
	transition: margin 0.15s;
}

.link-learn-more:hover::after {
	margin-left: 10px;
}

@media screen and (min-width: 1024px) {
	.link-learn-more {
		font-size: 1rem;
	}

	.badge {
		font-size: 1.5rem;
	}

	.badge--small {
		font-size: 1rem;
	}

	.list--tick .list__item {
		padding-left: 0rem;
	}
}

.badge {
	border-radius: 20px;
	padding: 0.5rem 2rem;
	font-weight: bold;
	white-space: nowrap;
	font-size: 2rem;
}

.badge--primary {
	background: var(--primary-color);
	color: #fff;
}

.badge--secondary {
	background: var(--secondary-color);
	color: #fff;
}

.badge--small {
	font-size: 1.6rem;
	padding: 0.3rem 1.2rem;
}

.list {
	list-style: none;
	padding-left: 0;
	color: var(--headings-color);
}

.list--inline .list__item {
	display: inline-block;
	margin-right: 2rem;
}

.list.list--tick {
	list-style-type: square;
	padding-left: 1.5rem;
}

.list.list--tick .list__item {
	padding-left: 1.5rem;
	margin-bottom: 1rem;
}

.icon {
	width: 2.5rem;
	height: 2.5rem;
}

.icon--primary {
	fill: var(--primary-color);
}

.icon--white {
	fill: #fff;
}

.icon-container {
	background: #c5d1e0;
	width: 4rem;
	height: 4rem;
	border-radius: 100%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

.icon-container--accent {
	background: var(--accent-color);
}

.btn {
	font-size: 1.6rem;
	font-weight: 600;
	text-transform: uppercase;
	padding: 2rem 3rem;
	border: 0;
	border-radius: 2.5rem;
	cursor: pointer;
	white-space: nowrap;
	text-align: center;
	margin: 0.7rem 0;
}

.btn--primary {
	background: var(--primary-color);
	color: #FFF;
	transition: var(--transition-btn);
}

.btn--secondary {
	background: var(--secondary-color);
	color: #FFF;
	transition: var(--transition-btn);
}

.btn--accent {
	background: var(--accent-color);
	color: #FFF;
	transition: var(--transition-btn);
}

.btn--stretched {
	padding-left: 6rem;
	padding-right: 6rem;
}

.btn--block {
	width: 100%;
	display: inline-block;
}

.btn--outline {
	background: #FFF;
	color: var(--headings-color);
	border: 2px solid var(--headings-color);
	transition: var(--transition-btn);
}

.btn--primary:hover,
.btn--secondary:hover,
.btn--accent:hover {
	opacity: 0.8;
	color: #FFF;
}

.btn--outline:hover {
	background: var(--headings-color);
	color: #FFF;
}

@media screen and (max-width: 1024px) {
	.btn {
		font-size: 1rem;
	}
}

.input {
	padding: 1.5rem 3.5rem;
	border: 1px solid var(--border-color);
	border-radius: var(--border-radius);
	outline: 0;
	color: var(--headings-color);
	font-size: 1.5rem;
}

::placeholder {
	color: #999;
}

.input-group {
	border: 1px solid var(--border-color);
	border-radius: var(--border-radius);
	display: flex;
}

.input-group .input {
	border: 0;
	flex-grow: 1;
	padding: 1.2rem 0.8rem;
}

.input-group .btn {
	margin: 4px;
}

@media screen and (min-width: 1024px) {
	.input {
		font-size: 0.8rem;
	}
}

.card {
	border-radius: 0.5rem;
	box-shadow: 0 0 1.25rem 0.8rem #D3D3D3;
	overflow: hidden;
}

.card__header, .card__body {
	padding: 1.5rem 2.5rem;
}

.card--primary .card__header {
	background: var(--primary-color);
	color: #FFF;
}

.card--secondary .card__header {
	background: var(--secondary-color);
	color: #FFF;
}

.card--secondary .badge--secondary {
	background: #644242;
	opacity: 0.7;
}

.media {
	display: flex;
}

.media__title {
	margin-top: 0;
}

.media__body {
	margin: 0 1.2rem;
}

.media__image {
	margin-top: 1rem;
}

.quote {
	font-size: 2.4rem;
	font-style: italic;
	color: var(--body-dark-color);
	line-height: 1.2;
}

.quote__text::before {
	content: open-quote;
}

.quote__text::after {
	content: close-quote;
}

.quote__author {
	font-style: normal;
	font-size: 2.4rem;
	font-weight: 500;
	margin-bottom: 0.5rem;
	margin-top: 0.5rem;
}

.quote__profession {
	opacity: 0.5;
	font-size: 1.5rem;
}

@media screen and (min-width: 1024px) {
	.quote {
		font-size: 1.6rem;
	}

	.quote__author {
		font-size: 1.8rem;
	}

	.quote__profession {
		font-size: 1.2rem;
	}
}

.grid {
	display: grid;
    grid-auto-flow: column;
}

@media screen and (min-width: 768px) {
	.grid--col-2 {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (min-width: 1024px) {
	.grid--col-3 {
		grid-template-columns: repeat(3, 1fr);
	}
}

.collapsible {
  	cursor: pointer;
}

.collapsible--expanded .collapsible__chevron {
  	transform: rotate(0);
}

.collapsible--expanded .collapsible__content {
  	display: block;
}

.collapsible__header {
	display: flex;
	justify-content: space-between;
}

.collapsible__heading {
	margin-top: 0;
	font-size: 2rem;
}

.collapsible__chevron {
	transform: rotate(-90deg);
	transition: transform 0.2s;
}

.collapsible__content {
  	display: none;
}

.block {
	--padding-vertical: 6rem;
	padding: var(--padding-vertical) 2rem;
}

.block__header {
  	text-align: center;
}

.block__heading {
  	margin-top: 0;
}

.block--dark {
	background: #000;
	color: #7b858b;
}

.block--dark .block__heading {
  	color: #FFF;
}

.block--skewed-right {
	padding-bottom: calc(var(--padding-vertical) + 4rem);
	clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 75%);
}

.block--skewed-left {
	padding-bottom: calc(var(--padding-vertical) + 4rem);
	clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 0% 100%);
}

.container {
	max-width: 1140px;
	margin: 0 auto;
}

.nav__logoimage {
	background: var(--secondary-color);
	border: var(--primary-color) solid 1px;
	width: 10rem;
	max-height: 3rem;
}

.nav {
	background: #000;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 1rem;
	align-items: center;
}

.nav__list {
	width: 100%;
	margin: 0;
}

.nav__item {
	padding: 0.5rem 2rem;
	border-bottom: 1px solid #222;
}

.nav__item:last-of-type {
  	border-bottom: none;
}

.nav__item > a {
	color: #d2d0db;
	transition: color 0.3s;
}

.nav__item > a:hover {
  	color: #fff;
}

.nav__toggler {
	opacity: 0.5;
	transition: box-shadow 0.15s;
	cursor: pointer;
}

.nav.collapsible--expanded .nav__toggler {
	opacity: 1;
	box-shadow: 0 0 0 3px #666;
	border-radius: 5px;
}

.nav__brand {
	transform: translateY(3px);
	width: 150px;
}

@media screen and (min-width: 768px) {
	.nav__toggler {
		display: none;
	}

	.nav__list {
		width: auto;
		display: flex;
		font-size: 1.6rem;
		max-height: 100%;
		opacity: 1;
	}

	.nav__item {
		border: 0;
	}
}

.hero {
  	clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);
}

.hero__content {
  	padding-bottom: 2rem;
}

.hero__tagline {
	font-size: 1.6rem;
	letter-spacing: 1px;
	margin: 1.6rem 0 4rem 0;
}

.hero__image {
  	width: 100%;
}

@media screen and (min-width: 768px) {
	.hero__content {
		text-align: left;
		align-self: center;
	}
}

@media screen and (min-width: 1024px) {
	.hero {
		padding-top: 0;
	}
}

.block-domain .input-group {
	box-shadow: 0 0 2rem 1.2rem #e6ebee;
	border: 0;
	margin: 4rem auto;
	max-width: 670px;
}

.block-domain__prices {
	color: var(--color-headings);
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 6rem);
	font-size: 2rem;
	font-weight: 600;
	justify-items: center;
	max-width: 700px;
	margin: 0 auto;
}

@media screen and (min-width: 768px) {
	.block-domain__prices {
		grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
	}
}

.plan {
	transition: transform 0.2s ease-out;
}
  
.plan__name {
	color: #fff;
	margin: 0;
	font-weight: 500;
	font-size: 2rem;
}

.plan__price {
	font-size: 4rem;
}

.plan__billing-cycle {
	font-size: 1.6rem;
	font-weight: 300;
	opacity: 0.8;
	margin-right: 1rem;
}

.plan__description {
	font-size: 1.6rem;
	font-weight: 300;
	letter-spacing: 1px;
	display: block;
}

.plan .list__item {
	margin-bottom: 1.6rem;
}

.plan--popular .card__header {
	position: relative;
}

.plan--popular .card__header::before {
	content: url(../images/popular.svg);
	width: 2rem;
	display: inline-block;
	position: absolute;
	top: -0.5rem;
	right: 5%;
}

.plan:hover {
	transform: scale(1.05);
}

.plan--popular:hover {
	transform: scale(1.15);
}

@media screen and (min-width: 1024px) {
	.plan--popular {
		transform: scale(1.1);
	}

	.plan__name {
		font-size: 1.2rem;
	}

	.plan__price {
		font-size: 4rem;
	}

	.plan__billing-cycle {
		font-size: 1.2rem;
	}

	.plan__description {
		font-size: 1.3rem;
	}
}

.block-plans .grid {
  	gap: 6.2rem 3.2rem;
}

.block-plans .card {
	max-width: 500px;
	margin: 0 auto;
}

.feature {
	gap: 3.2rem 1.6rem;
	margin: 9rem 0;
}

.feature:first-of-type {
	margin-top: 4.5rem;
}

.feature__heading {
	margin: 1rem 0;
}

@media screen and (min-width: 768px) {
	.feature:nth-of-type(even) .feature__content {
		order: 2;
	}
}

@media screen and (min-width: 768px) {
	.block-showcase .grid {
		grid-template-columns: 50% 50%;
	}

	.block-showcase__image {
		justify-self: end;
	}

	.block-showcase__image > img {
		width: auto;
		max-width: 700px;
	}
}

.testimonial {
  	padding: 2rem;
}

.testimonial .quote {
	margin: 1.6rem 0;
	font-size: 110%;
}

.testimonial__image {
	position: relative;
	margin: 0 2.4rem;
}

.testimonial__image > .icon-container {
	position: absolute;
	top: 2.4rem;
  	right: -2rem;
}

@media screen and (min-width: 768px) {
	.testimonial__image {
		margin: 0;
	}

	.testimonial .quote {
		margin: 4rem 0 0 4.5rem;
		font-size: 120%;
		line-height: 1.5;
	}
}

.callout {
	padding: 3.2rem;
	border-radius: 5px;
}

.callout--primary {
	background: var(--color-primary);
	color: #fff;
}

.callout__heading {
	color: #fff;
	margin-top: 0;
	font-size: 2.4rem;
}

.callout .btn {
	justify-self: center;
	align-self: center;
}

.callout__content {
  	text-align: center;
}

@media screen and (min-width: 768px) {
	.callout .grid--1x2 {
		grid-template-columns: 1fr auto;
	}

	.callout__content {
		text-align: left;
	}

	.callout .btn {
		justify-self: start;
		margin: 0 1.6rem;
	}
}

.footer {
	background: #232323;
	padding-top: 8rem;
}

.footer a {
	color: #777;
	transition: color 0.3s;
}

.footer a:hover {
  	color: #fff;
}

.footer__section {
	padding: 1.6rem;
	border-bottom: 1px solid #393939;
}

.footer__section .list {
  	margin: 0;
}

.footer__heading {
	text-transform: uppercase;
	font-weight: 600;
	font-size: 2rem;
	line-height: 1.5;
}

.footer__brand {
	margin-top: 4rem;
	text-align: center;
}

.footer__brand img {
  	max-width: 230px;
}

.footer__copyright {
	font-size: 1.6rem;
	color: #fff;
	opacity: 0.3;
}

@media screen and (min-width: 768px) {
	.footer {
		font-size: 1.2rem;
	}
	.footer__sections {
		grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
	}

	.footer .collapsible__chevron {
		display: none;
	}

	.footer .collapsible__content {
		opacity: 1;
		max-height: 100%;
	}

	.footer__brand {
		order: -1;
		margin-top: 1rem;
	}

	.footer__copyright {
		font-size: 1.2rem;
	}

	.footer__section {
		border: 0;
	}

	.footer__heading {
		font-size: 1.2rem;
	}
}