<section class="block block--dark block--skewed-left hero">
    <div class="container grid grid--1x2">
      <header class="block__header hero__content">
        <h1 class="block__heading">Cloud Hosting for Everyone</h1>
        <p class="hero__tagline">
          Deploy your favorite website with us with almost no effort.
        </p>
        <a href="" class="btn btn--accent btn--stretched">Get Started</a>
      </div>

      <img class="hero__image" src="images/banner.jpg" alt="Banner" />
    </div>
  </section>