<div class="plan plan--popular">
  <div class="card card--secondary">
    <header class="card__header">
      <h3 class="plan__name">Personal</h3>
      <span class="plan__price">$5</span>
      <span class="plan__billing-cycle">/month</span>
      <span class="badge badge--secondary badge--small">10% OFF</span>
      <span class="plan__description">For personal use</span>
    </header>
    <div class="card__body">
      <ul class="list list--tick">
        <li class="list__item">10 Websites</li>
        <li class="list__item">Unlimited Bandwidth</li>
        <li class="list__item">100GB Storage</li>
        <li class="list__item">8GB RAM</li>
      </ul>
      <button class="btn btn--outline btn--block">Buy Now</button>
    </div>
  </div>
</div>
